{% extends 'base.html.twig' %}

{% block title %}Delete Vote{% endblock %}

{% block body %}
    <h1>Delete a Vote</h1>
    <form method="post">
        <h2>Votes for {{ vote.policy }}</h2>
        <p>Are you sure you want to delete?</p>
        <label for="confirmation">Yes</label>
        <input id="confirmation" name="confirmation" type="checkbox">
        <button type="submit">Delete</button>
        <a class="button" href="{{ path('vote') }}" >Abort</a>
    </form>
{% endblock %}