{% extends 'base.html.twig' %}

{% block title %}Delete Hum{% endblock %}

{% block body %}
    <h1>Delete Hum</h1>
    <form method="post">
        <h2>Hum of {{ hum.date|date("Y-m-d") }}</h2>
        <p>Are you sure you want to delete?</p>
        <label for="confirmation">Yes</label>
        <input id="confirmation" name="confirmation" type="checkbox">
        <button type="submit">Delete</button>
        <a class="button" href="{{ path('hum') }}" >Abort</a>
    </form>
{% endblock %}