{% extends 'base.html.twig' %}

{% block title %}Start{% endblock %}

{% block body %}

<div class="overview">
    <div class="news-container">
        <h2>News status</h2>
        {% include 'blog/_list.html.twig' with {'posts': blogPosts} %}
    </div>
</div>
{% endblock %}
