$maxWidth: 60rem;

$voteYesColor: #5eb5e0;
$voteNoColor: #e0695e;
$voteAbstainColor: #e0e0e0;

#content {
    display: flex;
    flex-direction: initial;
    flex-wrap: wrap;
    margin: 27px;

    >div {
        padding: 1rem;
    }
}
.content-item.mt-0 {
    margin-top: 0;
}
.content-item {
    max-width: $maxWidth;
    margin-top: 8rem;
    margin-bottom: 8rem;

    .item-header {
        display: grid;
        grid-template-areas:
            'subheader image'
            'header image';

        p {
            margin: 0;
            grid-area: subheader;
        }

        h1, h2 {
            margin-top: 0;
            margin-bottom: 0;
            grid-area: header;
            font-family: "Raleway-Black", Raleway, Georgia, sans-serif;
            font-size: 2rem;
        }

        img {
            grid-area: image;
            width: 4rem;
            margin-left: auto;
            margin-right: 2rem;
        }
    }

    p {
        line-height: 1.5rem;
    }

}

.symbol {
    margin-right: 0.5rem;
}

.answer-option {
    width: 6rem;
    min-width: max-content;
    margin-right: 1rem;
    font-size: 1rem;
    background-color: #fdfcd5;
}

.answer-option:hover {
    background-color: #FFFB88;
}

.answer-option.active {
    background-color: #fffb88;
}

.answer-option.inactive {
    background-color: #fefefe;
}

.relative {
    position: relative;
}

.question-bee {
    width: 2rem;
    position: absolute;
}

#bee-scatter-0 {
    left: 1rem;
    top: 1rem;
    transform: rotate(15deg);
}
#bee-scatter-1 {
    top: 1.5rem;
    left: 2.9rem;
    transform: rotate(0deg);
}
#bee-scatter-2 {
    bottom: 0;
    left: 1.5rem;
    transform: rotate(273deg);

}
#bee-scatter-3 {
    bottom: 0.8rem;
    left: 1.9rem;
    transform: rotate(252deg);

}
#bee-scatter-4 {
    bottom: 0.2rem;
    left: 5rem;
    transform: rotate(300deg);
}
#bee-scatter-5 {
    top: 0.7rem;
    left: 7rem;
    transform: rotate(20deg);
}

.question-item {
    position: relative;
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    box-shadow: 0 3px 8px #cecece;
    max-width: $maxWidth - 2rem;
    padding: 1rem;
    font-size: 1.3rem;

    .question-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .question-bee {
        position: absolute;
        width: 2rem;
        height: 2rem;
    }

    .question-bee.top {
        align-self: flex-start;
    }
    .question-bee.left {
        left: 2rem;
    }
    .question-bee.right {
        right: 2rem;
    }
    .question-bee.bottom {
        align-self: flex-end;
    }
}

.cards-container {
    min-width: 15rem;
    min-height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 7rem;
        height: 8rem;
        font-size: 6rem;
        font-family: Raleway, "Raleway-Light", sans-serif;
        border-style: solid;
        border-color: #707070;
        color: #707070;
        transform: rotate(-5deg);
    }
}

.vote-result {
    display: flex;
    align-items: center;
    justify-content: center;

    .vote-sign-container {
        font-size: 10rem;
        font-weight: bold;
    }

    .yes {
        color: $voteYesColor;
    }

    .no {
        color: $voteNoColor;
    }
}

.result-summary {
    margin-left: 5rem;
    display: grid;
    grid-template-columns: 4rem 2.5rem;

    p {
        margin-bottom: 0;
    }

    p:nth-child(odd) {
        text-align: right;
    }
    p:nth-child(even) {
        margin-left: 0.5rem;
    }
    p:nth-child(2) {
        border-right-style: solid;
        border-right-width: 5px;
        border-right-color: $voteYesColor;
    }
    p:nth-child(4) {
        border-right-style: solid;
        border-right-width: 5px;
        border-right-color: $voteNoColor;
    }
    p:nth-child(6) {
        border-right-style: solid;
        border-right-width: 5px;
        border-right-color: $voteAbstainColor;
    }
}

.cursive {
    font-style: italic;
}

.diagram-container {
    margin-left: -3rem;
    position: relative;
    width: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .center-artefact {
        position: absolute;
        font-size: 3rem;
    }
}

button.select {
    background-color: #FFFB88;
}
button.deselect {
    background-color: #f3f3f3;
}
