$maxWidth: 60rem;
.content-item {
    max-width: 60rem;

    .item-header {
        p {
            margin: 0;
        }

        h1, h2 {
            margin-top: 0;
        }
    }

}

.symbol {
    margin-right: 0.5rem;
}

.answer-option {
    width: 6rem;
    min-width: max-content;
    margin-right: 1rem;
    font-size: 1rem;
    background-color: #fdfcd5;
}

.answer-option.active {
    background-color: #fffb88;
}

.answer-option.inactive {
    background-color: #fefefe;
}

.question-item {
    display: flex;
    box-shadow: 0 3px 8px #cecece;
    max-width: $maxWidth;
    padding: 1rem;
    font-size: 1.3rem;

    .question-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.cards-container {
    min-width: 15rem;
    min-height: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 7rem;
        height: 8rem;
        font-size: 6rem;
        font-family: Raleway, "Raleway-Light", sans-serif;
        border-style: solid;
        border-color: #707070;
        color: #707070;
    }
}