{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

<nav>
    <div id="main-nav">
        <div id="start"><a href="{{ path('start') }}">Start</a></div>
        <div id="posts"><a href="{{ path('news') }}">News</a></div>
        <div id="logout"><a href="{{ path('app_logout', {page: 1}) }}">Logout</a></div>
    </div>
    <div id="sub-nav">
        {% if '/news' in currentPath %}
            <div id="add-news"><a href="{{ path('news_add') }}">Add news</a></div>
        {% endif %}
    </div>
</nav>