{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

<nav>
    <div>
    <div id="main-nav">
        <div id="home" {% if '/' in currentPath and currentPath|length<2 %}class="active"{% endif %}><a href="{{ path('start') }}">Home</a></div>
        <div id="library" {% if '/library' in currentPath %}class="active"{% endif %}><a href="#">Library</a></div>
        <div id="about" {% if '/about' in currentPath %}class="active"{% endif %}><a href="#">About</a></div>
        <div id="contact" {% if '/contact' in currentPath %}class="active"{% endif %}><a href="#">Contact</a></div>
    </div>
    </div>
</nav>