<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Hum Admin - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/styles.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <header>
        {% include "util/_nav.html.twig" %}
    </header>
    {% for message in app.flashes('success') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
